In [1]:
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
from django_plotly_dash import DjangoDash
from app.manage_sources import get_files
from datetime import datetime

In [2]:
files = get_files()

In [3]:
files

['/home/christos/Documents/PersonalProjects/covid/sources/cy_covid_19_daily_stats.csv']

In [4]:
def date_parse(x):
    return datetime.strptime(x, '%d/%m/%Y')

In [5]:
idx = pd.date_range('2020-08-1', periods=30, freq='D')

In [6]:
csv_file = None
for file in files:
    if "cy_covid_19_daily_stats" in file:
        print("file found")
        csv_file = file

file found

In [7]:
df = pd.read_csv(
    csv_file, 
    parse_dates=['date'],
    date_parser=date_parse,
    infer_datetime_format=True
)

In [8]:
df = df.fillna(0)

In [9]:
df

,date,daily new cases,daily deaths,daily recovered cases,daily tests performed,total cases,total deaths,total recovered,total tests
0,2020-03-09,2,0.0,0.0,:,2,0,0,:
1,2020-03-10,1,0.0,0.0,:,3,0,0,:
2,2020-03-11,3,0.0,0.0,:,6,0,0,:
3,2020-03-12,0,0.0,0.0,:,6,0,0,:
4,2020-03-13,8,0.0,0.0,:,14,0,0,:
...,...,...,...,...,...,...,...,...,...
146,2020-08-02,26,0.0,3.0,2924,1150,19,128,210001
147,2020-08-03,5,0.0,0.0,2581,1155,19,128,212582
148,2020-08-04,25,0.0,0.0,3988,1180,19,128,216570
149,2020-08-05,15,0.0,1.0,3132,1195,19,129,219702
150,2020-08-06,13,0.0,0.0,3486,1208,19,129,223188

In [10]:
df['date']=df['date'].astype('datetime64[ns]')

In [11]:
df['day'] = pd.DatetimeIndex(df['date']).day

In [12]:
df['month'] = pd.DatetimeIndex(df['date']).month

In [13]:
df['year'] = pd.DatetimeIndex(df['date']).year

In [14]:
df = df.fillna(0)

In [30]:
df

,date,daily new cases,daily deaths,daily recovered cases,daily tests performed,total cases,total deaths,total recovered,total tests,day,month,year
0,2020-03-09,2,0.0,0.0,0.0,2,0,0,0.0,9,3,2020
1,2020-03-10,1,0.0,0.0,0.0,3,0,0,0.0,10,3,2020
2,2020-03-11,3,0.0,0.0,0.0,6,0,0,0.0,11,3,2020
3,2020-03-12,0,0.0,0.0,0.0,6,0,0,0.0,12,3,2020
4,2020-03-13,8,0.0,0.0,0.0,14,0,0,0.0,13,3,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
146,2020-08-02,26,0.0,3.0,2924.0,1150,19,128,210001.0,2,8,2020
147,2020-08-03,5,0.0,0.0,2581.0,1155,19,128,212582.0,3,8,2020
148,2020-08-04,25,0.0,0.0,3988.0,1180,19,128,216570.0,4,8,2020
149,2020-08-05,15,0.0,1.0,3132.0,1195,19,129,219702.0,5,8,2020
150,2020-08-06,13,0.0,0.0,3486.0,1208,19,129,223188.0,6,8,2020

In [31]:
df['total tests']=pd.to_numeric(df['total tests'],errors='coerce')

In [32]:
# df['total tests']=df['total tests'].astype('int64')

In [33]:
df['total tests']=pd.to_numeric(df['total tests'],errors='coerce')

In [34]:
df['daily tests performed']=pd.to_numeric(df['daily tests performed'],errors='coerce')

In [35]:
# df['daily tests performed'].astype('int64')

In [36]:
df = df.fillna(0)

In [37]:
daily_cases_df = df[[
    'daily new cases',
    'daily deaths',
    'daily tests performed',
    'month',
    'day',
    'year'
]]

In [38]:
daily_cases_df['daily deaths'] = daily_cases_df['daily deaths'].astype('int64')

<ipython-input-38-1b624e23fc4f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  daily_cases_df['daily deaths'] = daily_cases_df['daily deaths'].astype('int64')

In [39]:
df

,date,daily new cases,daily deaths,daily recovered cases,daily tests performed,total cases,total deaths,total recovered,total tests,day,month,year
0,2020-03-09,2,0.0,0.0,0.0,2,0,0,0.0,9,3,2020
1,2020-03-10,1,0.0,0.0,0.0,3,0,0,0.0,10,3,2020
2,2020-03-11,3,0.0,0.0,0.0,6,0,0,0.0,11,3,2020
3,2020-03-12,0,0.0,0.0,0.0,6,0,0,0.0,12,3,2020
4,2020-03-13,8,0.0,0.0,0.0,14,0,0,0.0,13,3,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
146,2020-08-02,26,0.0,3.0,2924.0,1150,19,128,210001.0,2,8,2020
147,2020-08-03,5,0.0,0.0,2581.0,1155,19,128,212582.0,3,8,2020
148,2020-08-04,25,0.0,0.0,3988.0,1180,19,128,216570.0,4,8,2020
149,2020-08-05,15,0.0,1.0,3132.0,1195,19,129,219702.0,5,8,2020
150,2020-08-06,13,0.0,0.0,3486.0,1208,19,129,223188.0,6,8,2020

In [24]:
df['total tests']=pd.to_numeric(df['total tests'],errors='coerce')

In [25]:
df['daily tests performed']=pd.to_numeric(df['daily tests performed'],errors='coerce')

In [26]:
# df['daily tests performed'].astype('int64')

In [27]:
df = df.fillna(0)

In [28]:
daily_cases_df = df[[
    'daily new cases',
    'daily deaths',
    'daily tests performed',
    'month',
    'day',
    'year'
]]

In [29]:
daily_cases_df['daily deaths'] = daily_cases_df['daily deaths'].astype('int64')

<ipython-input-29-1b624e23fc4f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  daily_cases_df['daily deaths'] = daily_cases_df['daily deaths'].astype('int64')